<!DOCTYPE HTML>
<html>
	<head>
		<title>Houston Ummah</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/styles/normalize.css" />
		<link rel="stylesheet" href="/styles/event.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <%- include('partials/header') -%>

	</head>
	<body>
 
<!-- Layout -->
  <div class="coupon">
    <div>
      <div class="container">
        <h3><%= event.userName%></h3>
      </div>
      <img src="<%= event.image%>" alt="eventflyer" style="width:100%;">
    </div>

    <div id="info">
      <div class="container" style="background-color:white">
        <p><%= event.caption %></p>
      </div>
      <div class="container">
        <i><%if(event.user == user.id){ %>
          <form action="/event/deleteEvent/<%= event.id %>?_method=DELETE" method="POST">
            <button class="deleteBtn fa-solid fa-trash-can"></button>
          </form>
          <%}%></i>
        <% if( event.date != null){ %>
          <p class="expire">Date: <%= event.date %></p>
        <%}%>
      </div>
    </div>
  </div>
  
  <!-- Scripts -->
  <%- include('partials/footer') -%>

</body>
</html>

