<!DOCTYPE HTML>
<html>
	<head>
		<title>Houston Ummah</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/styles/normalize.css" />
		<link rel="stylesheet" href="/styles/profile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <%- include('partials/header') -%>

	</head>
	<body>


    <section class="container">
      <div class="center">
        <h2 class="name"><%= user.userName %></h2>
      </div>

      <div class="submit">
        <h2 class="post-event">Post Event</h2>
        <p class="submit-info">Submit your event to be feature on our website </p>
      </div>

      <div class="layout">
        <div class="form">
          <form action="/event/createEvent" enctype="multipart/form-data" method="POST">
            <div class="form-line">
              <label><span>Title</span></label>
              <input class="form-title"  type="text" placeholder="Title" name="title">
            </div>
            <div class="form-line">
              <label><span>Date</span></label>
              <input class="form-title"  type="text" placeholder="Date" name="date">
            </div>
            <div class="form-line">
              <label><span>Caption</span></label>
              <textarea class="form-textarea" name="caption" cols="30" rows="10" placeholder="Caption"></textarea>
            </div>
            <div class="form-line">
              <label><span>Upload</span></label>
              <input class="form-file" type="file" name="file">
            </div>
              <button value="Upload">Submit</button>
          </form>
        </div>

        <div class="userEvents">
          <% for(let i=0; i<event.length; i++) {%>
            <div class="event">                      
                <!-- <img class="flyer" src="<%= event[i].image%>"> -->
                <a href="/event/<%= event[i]._id%>">
                  <img class="flyer" src="<%= event[i].image%>">
                </a>
            </div>
          <% } %>
        </div>
      </div> 
    </section>

    <div id="footer">
      <button><a href="/events">Return to Events</a></button>
      <button><a href="/logout">Logout</a></button>
    </div>

  </div>

  <%- include('partials/footer') -%>

</body>
</html>