<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekly Events</title>
  <link rel="stylesheet" href="/styles/weekly.css">
  <link rel="stylesheet" href="/styles/normalize.css">
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <%- include('partials/header') -%>

</head>
<body>
  <h1><a href="/">Weekly Events</a></h1>
  <div class="container">
  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Monday</h2>
    </div>
    <div class="row-event">
      <% count = 0 %>
      <% for(let i=0; i<event.length; i++) {%>
        <% if ((event[i].weekly === true) && (event[i].dayOfWeek === "monday"))  {%> 
        <div class="event">
          <a href="/event/<%= event[i]._id%>">
            <img class="flyer" src="<%= event[i].image%>" >
          </a>      
        </div>
        <% count = 1 %>     
        <% } %>
      <% } %>
      <% if(count == 0){ %>
          <div class="event">
          <h2 class="dayOfWeek">Nothing yet...</h2>
          </div>
      <% } %>
    </div>
  </div>

  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Tuesday</h2>
    </div>
    <div class="row-event">
      <% count = 0 %>
      <% for(let i=0; i<event.length; i++) {%>
        <% if ((event[i].weekly === true) && (event[i].dayOfWeek === "tuesday"))  {%> 
        <div class="event">
          <a href="/event/<%= event[i]._id%>">
            <img class="flyer" src="<%= event[i].image%>" >
          </a>      
        </div>
        <% count = 1 %>     
        <% } %>
      <% } %>
      <% if(count == 0){ %>
        <div class="event">
        <h2 class="dayOfWeek">Nothing yet...</h2>
        </div>
      <% } %>
    </div>
  </div>
  
  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Wednesday</h2>
    </div>
    <div class="row-event">
      <% count = 0 %>
      <% for(let i=0; i<event.length; i++) {%>
        <% if ((event[i].weekly === true) && (event[i].dayOfWeek === "wednesday"))  {%> 
        <div class="event">
          <a href="/event/<%= event[i]._id%>">
            <img class="flyer" src="<%= event[i].image%>" >
          </a>      
        </div>
        <% count = 1 %>     
        <% } %>
      <% } %>
      <% if(count == 0){ %>
        <div class="event">
        <h2 class="dayOfWeek">Nothing yet...</h2>
        </div>
      <% } %>
    </div>
  </div>

  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Thursday</h2>
    </div>
    <div class="row-event">
      <% count = 0 %>
        <% for(let i=0; i<event.length; i++) {%>
          <% if ((event[i].weekly === true) && (event[i].dayOfWeek === "thursday"))  {%> 
        <div class="event">
          <a href="/event/<%= event[i]._id%>">
            <img class="flyer" src="<%= event[i].image%>" >
          </a>      
        </div>
        <% count = 1 %>     
        <% } %>
      <% } %>
      <% if(count == 0){ %>
        <div class="event">
        <h2 class="dayOfWeek">Nothing yet...</h2>
        </div>
      <% } %>
  </div>
  </div>

  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Friday</h2>
    </div>
    <div class="row-event">
      <% count = 0 %>
        <% for(let i=0; i<event.length; i++) {%>
          <% if ((event[i].weekly === true) && (event[i].dayOfWeek === "friday"))  {%> 
        <div class="event">
          <a href="/event/<%= event[i]._id%>">
            <img class="flyer" src="<%= event[i].image%>" >
          </a>      
        </div>
        <% count = 1 %>     
        <% } %>
      <% } %>
      <% if(count == 0){ %>
        <div class="event">
        <h2 class="dayOfWeek">Nothing yet...</h2>
        </div>
      <% } %>
  </div>
  </div>
  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Saturday</h2>
    </div>
    <div class="row-event">
      <% count = 0 %>
        <% for(let i=0; i<event.length; i++) {%>
          <% if ((event[i].weekly === true) && (event[i].dayOfWeek === "saturday"))  {%> 
        <div class="event">
          <a href="/event/<%= event[i]._id%>">
            <img class="flyer" src="<%= event[i].image%>" >
          </a>      
        </div>
        <% count = 1 %>     
        <% } %>
      <% } %>
      <% if(count == 0){ %>
        <div class="event">
        <h2 class="dayOfWeek">Nothing yet...</h2>
        </div>
      <% } %>
  </div>
  </div>

  <div class="layout">
    <div class="row-day">
      <h2 class="dayOfWeek">Sunday</h2>
    </div>
    <div class="row-event">
      <% count = 0 %>
        <% for(let i=0; i<event.length; i++) {%>
          <% if ((event[i].weekly === true) && (event[i].dayOfWeek === "sunday"))  {%> 
        <div class="event">
          <a href="/event/<%= event[i]._id%>">
            <img class="flyer" src="<%= event[i].image%>" >
          </a>      
        </div>
        <% count = 1 %>     
        <% } %>
      <% } %>
      <% if(count == 0){ %>
        <div class="event">
        <h2 class="dayOfWeek">Nothing yet...</h2>
        </div>
      <% } %>
  </div>
  </div>

<%- include('partials/footer') -%>
</body>
</html>